@import 'reset.css';
@import url(https://fonts.googleapis.com/css?family=Pacifico|Roboto:400,500);

html {
  height: 100%;
}

body {

   font: 400 16px/1.3 verdana, arial, sans-serif;
   color: #000;
    /*background-color: aquamarine;*/
   opacity: 10%;
   min-height: 100%;
   margin: 0;
   padding: 0;
   position: relative;
}


h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.h5, h5 {
    font-size: 1.25rem;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #007bff;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/*body header h1 {*/
    /*position: absolute;*/
    /*left: -50000px;*/
/*}*/

.wrap {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

#header {
    height: 15em;
}

nav.firstnavbar {
    background: #2e6da4;
    padding: 60px;
    position: relative;
    z-index: 2;
    height: 15em;
}

nav.firstnavbar h1 img.logo{
    width: 15%;
    float: left;
}

ul.menu {
    text-align: center;
    float: right;
}

ul.menu li {
    float: left;
}

ul.menu li a {
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    /*margin: 0 10px;*/
    color: #eee;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 1.1em;
    line-height: 2em;
    font-weight: bold;
    transition: all 2ms linear;
}

ul.submenu {
    text-align: justify;
}

ul.submenu li {
    float: none;
    font-size: 0.7em ;
}

ul.menu li:hover > ul.submenu {
    display: block;
    /*position: absolute;*/
}

ul.menu ul.submenu {
    display: none;
}

nav.firstnavbar a:hover,
nav.firstnavbar#navbarsmall a:hover {
    color: #C18055;
    background: #fff;
}

nav.firstnavbar#navbarsmall {
    background: darkcyan;
    padding: 10px 40px;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    z-index: 1;
    height: 8em;
}

nav.firstnavbar#navbarsmall h1 img.logo{
    width: 15%;
    float: left;
}

div#content {
    min-height: 500px;
    background-color: white;
    opacity: 80%;
    padding-top: 150px;

}

section.leftcolumn {
    float: left;
    width: 15%;
    position: fixed;
    /*padding: 25px;*/
}

.leftcolumn p {
    padding: 20px;
}

.leftcolumn ul li {
    padding: 20px;
}

.leftcolumn a img{
    width: 80%;
    padding-left: 20px;
}

h2 {
    color: white;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    padding: 10px 10px;
    background-color: royalblue;
}

form.inscription {
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    width:100%;
    max-width:50%;
    min-height:21.875em;
    position:relative;
    padding: 20px;
    background-color: cadetblue;
}

form.inscription .needed {
    font-size: 0.7em;
}

form.connexion {
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    width:100%;
    max-width:50%;
    min-height:21.875em;
    position:relative;
    padding: 20px;
    background-color: cadetblue;
}

label, input {
    margin: auto;
    display: block;
    width: 80%;
}

input {
    font-size: 18px;
    -webkit-appearance: none;
    display: block;
    background: rgba(34, 33, 73, .0);
    width: 300px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid antiquewhite;
}

input#submit {
    text-transform: uppercase;
    font-size: 1em;
    width: 70%;
    height: 60px;
    background:#BF406B;
    border-radius: 50px;
    border-bottom: none;
}



#footer .coordonnee {
    list-style:none;
    text-align: center;
    color: red;
}

.contact {
    margin: 20px;
}



@media (max-width: 700px) {
    nav.firstnavbar {
        background: #2e6da4;
        padding: 60px;
        position: relative;
        z-index: 2;
        height: 21em;
    }


    nav.firstnavbar ul.menu {
        /*display: none;*/
        padding: 10px;
        float: left;
    }
    nav.firstnavbar h1 img.logo {
        font-size: 2.2em;
        width: 60%;
        display: block;
        float: none;
        text-align: center;
        padding: 10px;
    }
    nav.firstnavbar ul {
        font-size: 0.7em;
        float: none;
        padding: 10px;
    }
    nav.firstnavbar ul.submenu {
        font-size: 1em;
        float: left;
        padding: 10px;
    }
    div#content h2 {
        width: 30%;
    }
    nav.firstnavbar#navbarsmall {
        font-size: 0.8em;
        height: 14em;
        padding: 10px;
    }
    nav.firstnavbar#navbarsmall ul {
        padding: 5px;
        float: left;
    }
    nav.firstnavbar#navbarsmall ul.submenu {
        font-size: 1em;
        float: left;
        padding: 10px;
    }
    nav.firstnavbar#navbarsmall h1 img.logo {
        padding: 10px;
        font-size: 1.8em;
        margin-bottom: 5px;
        width: 30%;
        display: block;
        float: none;
        text-align: center;
    }

}

     #footer .cordonnees {

       margin-top: 20px;
       margin-bottom: 20px;
       margin-left: 20px;
      }

      #footer .cordonnees .mail {
        color: blue;
      }

      #footer .liens-utiles a{
         text-decoration: none;
         margin-right: 10px;
      }

      #footer .liens-utiles li {
        display: inline;
      }

      #footer .liens-utiles ul {
        margin-left: 20px;
      }

      .float-label input {
        -webkit-appearance: none;
        outline: none;
        border: none;
        margin: 0 auto;
        width: 100%;
        display: block;
        -moz-border-radius: 0;
        border-radius: 0;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.7);
        background: transparent;
        color: #757575;
        padding: 5px 15px 7px 10px;
      }










footer{
    bottom: 0;
       padding: 20px 60px;
        background-color:darkcyan;
        box-shadow: 0px 0px 18px #888888;
}
 footer h5{

font-family: 'Amaranth', sans-serif;
color: #fff;
 }

 footer a {
    color: #fff;
 }
footer .container-fluid {
    width: auto;
        margin-left: 6%;
    margin-right: 6%;
}

footer{
    color: #fff;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}


@media(min-width: 768px ){
.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}}
.col-md-3,
.col-md-6{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.text-uppercase {
    text-transform: uppercase;
}
