@import 'reset.css';

/* html {
  height: 100%;
} */

body {

   font: 400 16px/1.3 verdana, arial, sans-serif;
   color: #000;
    /*background-color: aquamarine;*/
   opacity: 10%;
   /* min-height: 100%; */
   margin: 0;
   padding: 0;
   position: relative;
}


h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.h5, h5 {
    font-size: 1.25rem;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #007bff;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/*body header h1 {*/
    /*position: absolute;*/
    /*left: -50000px;*/
/*}*/

.wrap {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

#header {
    height: 15em;
}

nav.firstnavbar {
    background: #2e6da4;
    padding: 60px;
    position: relative;
    z-index: 2;
    height: 15em;
}

nav.firstnavbar h1 img.logo{
    width: 15%;
    float: left;
}

ul.menu {
    text-align: center;
    float: right;
}

ul.menu li {
    float: left;
}

ul.menu li a {
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    /*margin: 0 10px;*/
    color: #eee;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 1.1em;
    line-height: 2em;
    font-weight: bold;
    transition: all 2ms linear;
}

ul.submenu {
    text-align: justify;
}

ul.submenu li {
    float: none;
    font-size: 0.7em ;
}

ul.menu li:hover > ul.submenu {
    display: block;
    /*position: absolute;*/
}

ul.menu ul.submenu {
    display: none;
}

nav.firstnavbar a:hover {
    color: #C18055;
    background: #fff;
}


div#content {
    min-height: 500px;
    background-color: white;
    opacity: 80%;
    padding-top: 150px;

}


h2 {
    color: black;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    padding: 10px 10px;
    font-family: 'Amaranth', sans-serif;

}

h2 span#gris {
    color: #888888;
}

h2 span#vert {
    color: green;
}

section.section2 {
    width: 100%;
    margin: auto;
}

form.inscription {
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    width:100%;
    max-width:50%;
    min-height:21.875em;
    position:relative;
    padding: 20px;
    background-color: cadetblue;
}

form.inscription .needed {
    font-size: 0.7em;
}

form.connexion {
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    width:100%;
    max-width:50%;
    min-height:21.875em;
    position:relative;
    padding: 20px;
    background-color: cadetblue;
}

label, input {
    margin: auto;
    display: block;
    width: 80%;
}

input {
    font-size: 18px;
    -webkit-appearance: none;
      display: block;
    background: rgba(34, 33, 73, .0);
    width: 300px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid antiquewhite;
}

.profil label
{
  text-align: center;
  border: 2px solid #2E6DA4;
  border-radius: 5px;
  background-color: #2E6DA4;
  padding: 10px 0;
}

.userinfo
{
  border: 2px solid #2E6DA4;
  padding: 10px 0;
}

input#submit {
    text-transform: uppercase;
    font-size: 1em;
    width: 70%;
    height: 60px;
    background:#BF406B;
    border-radius: 50px;
    border-bottom: none;
}



#footer .coordonnee {
    list-style:none;
    text-align: center;
    color: red;
}

.contact {
    margin: 20px;
}

.profil
{
  margin: 50px 0;
}

.profil h3
{
  text-align: center;
  border: 2px solid #2E6DA4;
  border-radius: 5px;
  background-color: #2E6DA4;
  padding: 10px 0;
}



@media (max-width: 700px) {
    nav.firstnavbar {
        background: #2e6da4;
        padding: 60px;
        position: relative;
        z-index: 2;
        height: 21em;
    }


    nav.firstnavbar ul.menu {
        /*display: none;*/
        padding: 10px;
        float: left;
    }
    nav.firstnavbar h1 img.logo {
        font-size: 2.2em;
        width: 60%;
        display: block;
        float: none;
        text-align: center;
        padding: 10px;
    }
    nav.firstnavbar ul {
        font-size: 0.7em;
        float: none;
        padding: 10px;
    }
    nav.firstnavbar ul.submenu {
        font-size: 1em;
        float: left;
        padding: 10px;
    }
    div#content h2 {
        width: 30%;
    }

}



     #footer .cordonnees {

       margin-top: 20px;
       margin-bottom: 20px;
       margin-left: 20px;
      }

      #footer .cordonnees .mail {
        color: blue;
      }

      #footer .liens-utiles a{
         text-decoration: none;
         margin-right: 10px;
      }

      #footer .liens-utiles li {
        display: inline;
      }

      #footer .liens-utiles ul {
        margin-left: 20px;
      }

      .float-label input {
        -webkit-appearance: none;
        outline: none;
        border: none;
        margin: 0 auto;
        width: 100%;
        display: block;
        -moz-border-radius: 0;
        border-radius: 0;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.7);
        background: transparent;
        color: #757575;
        padding: 5px 15px 7px 10px;
      }

footer{
        bottom: 0;
        padding: 20px 60px;
        background-color:#2e6da4;
        box-shadow: 0px 0px 18px #888888;
}


 footer h5{
        font-family: 'Amaranth', sans-serif;
        color: #fff;
 }


 footer a {
        color: #fff;
 }
footer .container-fluid {
        width: auto;
        margin-left: 6%;
        margin-right: 6%;
}


footer .list-unstyled img:hover  {
        background-color: white;
        border-radius: 5px;
}

footer {
    color: #fff;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}


@media(min-width: 768px ){
.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;

    }
  .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

}

.col-md-3 .col-md-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-3 a:hover {
  font-weight: bold;
}


.text-uppercase {
    text-transform: uppercase;
}
